.Cont {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh 5vw 1vh 5vw;
    background-color: rgb(0, 0, 0, 0.68);
}
#logotipe{
    display: flex;
}
#Title{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: fit-content;

}
.logoCol {
    width: 3rem;
}