.Cont {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.6vh 18vw 2.5vh 17vw;
    background-color: rgb(0, 0, 0, 0.68);
}
.separator {
    color: rgb(0, 255, 115) ;
    font-weight: 100;
}
.text {
    font-size: 0.9rem;
    font-weight: 400;
    border: 0;
    outline: 0;
    color: rgb(var(--txt));
    margin: 0;  
    line-height: 2.56vh;
    transition: var(--trans2,color .4s ease 0s);
    background-color: transparent;
}
.text:hover{
    color:#9AAEB8;
}

#Contact {
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    margin: 0;
}