/* @font-face {
  font-family: trebuchet-ms; 
  /*https://betterstudio.com/fonts/rick-and-morty-font/#:~:text=Rick%20and%20Morty%20Use%20What,uppercase%2C%20lowercase%2C%20and%20numbers.src: url(./assets/Trebuchet\ MS.ttf);} */
:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 400;

}

body {
  margin: 0;
}


button {
  border: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #547590;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #547590;
    background-color: #ffffff;
  }
}
