#ContCont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 18vw 0 18vw;
    height: 133vh;
    background-color: black;
}

#medio {
    display: grid;
    grid-template-columns: repeat(3, 21vw);
    grid-template-rows: repeat(3, 23vh);
    justify-content: space-evenly;
}
#headcontact{
font-size: 92px;
     font-weight: 800;
     color:rgb(0,230,137);
     
}

.medItems {
    padding-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: start;
    color:rgb(154,174,184);
    grid-row: 1;
}
.ico{
    margin-right: 0.5rem;
    font-size: 3vw;
    fill:#515E65;
    width: 2rem;
}